body {
  text-align: center;
}

h1 {
  font-family: Monoton;
  font-size: 70px;
  margin: 0.2em;
}

h2 {
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin-top: 0.5em;
}

table, tr, td {
  border: 1px solid #e2e2e2;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  cursor:url(pencil.png) 0 16 ,auto;

}

tr {
  height: 10px;
}

td {
  width: 10px;
  box-sizing: border-box;
}

input[type=number] {
  width: 6em;
}
